#app {
    text-align: center;
}
button {
    background-color: #008CBA;
    /* Green */
    border: none;
    color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 5px;
    cursor: pointer;
    font-size: 50px;
    font-weight: bold;
    border-radius: 4px;
    outline: none;
}

button:hover {
    background-color: #00A5DB;
}

select {
    padding-left: 5px;
    font-size: 20px;
    width: 50px;
    margin: 10px;
}

#body_uspesnost {
    font-weight: bold;
    color: red;
}

* {
    font-family: arial;
    font-size: 23px;
}

body {
    margin: 20px;
}
table {
    margin: auto;
}